.header {
  background-color: var(--clr-primary-a0);
  color: var(--clr-light-a0);
}

.json-editor,
.form {
  background-color: var(--clr-surface-a10);
  color: var(--clr-text);
}

.reactive-form {
  background-color: var(--clr-surface-tonal-a20);
}

.table-container {
  background-color: var(--clr-surface-tonal-a20);

  .delete-btn {
    background-color: var(--clr-danger-a10);
    color: var(--clr-light-a0);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .error-text{
    color: var(--clr-danger-a10);
  }
  .form-control {
    font-size: 1.7rem;
    padding: 0.3em 0.8em;
    /* border: 1px solid var(); */
    border-radius: 0.8rem;
    background-color: var(--clr-surface-tonal-a20);
  }
  .form-group,
  .inner-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--clr-text);
    .form-label,
    .inner-form-label {
      font-size: 1.7rem;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  .inner-form-group {
    padding-left: 2.5rem;
    flex-direction: row;
    align-items: center;
    .inner-form-label {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
  .form-actions{
    .btn{
      background-color: var(--clr-info-a0);
    }
  }
}

.custom-checkbox {
  position: relative;
  input {
    display: none;
  }
  width: 5rem;
  height: 2.5rem;
  /* border: 1px solid #000; */
  border-radius: 100vh;
  background-color: var(--clr-success-a20);
  &:after {
    content: '';
    position: absolute;
    --size: 2rem;
    width: var(--size);
    top: 50%;
    transform: translateY(-50%);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--clr-success-a0);
    right: calc(100% - (var(--size) + 0.25rem));
    transition: all 200ms ease-in;
  }
  &:has(input:checked) {
    &:after {
      right: 0.25rem;
    }
  }
}

table {
  border-collapse: separate;
  border-spacing: 1rem 0.5rem;
}

.json-editor {
  position: relative;
  isolation: isolate;

  .error-json-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 50rem);
    padding: 2.5rem;
    border-radius: 1.2rem;
    z-index: 2;
    background-color: #d94a4a96;
    border: 2px solid var(--clr-danger-a0);
    color: white;
  }

  &:has(.error-json-message) {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}

.tags-array {
  .chips-array {
    .chip-item {
      background-color: var(--clr-surface-tonal-a20);
    }
  }
}
