@import 'tailwindcss';

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body[data-theme='light'],
body {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #147abd;
  --clr-primary-a10: #1a6ca6;
  --clr-primary-a20: #1c5e90;

  /** Theme surface colors */
  --clr-surface-a0: #ffffff;
  --clr-surface-a10: #f0f0f0;
  --clr-surface-a20: #e1e1e1;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #ebf1f9;
  --clr-surface-tonal-a10: #dfe4eb;
  --clr-surface-tonal-a20: #d2d7dd;

  /** Success colors */
  --clr-success-a0: #1b7f5c;
  --clr-success-a10: #28be8a;
  --clr-success-a20: #58dbad;

  /** Warning colors */
  --clr-warning-a0: #b8871f;
  --clr-warning-a10: #dfae44;
  --clr-warning-a20: #ebca85;

  /** Danger colors */
  --clr-danger-a0: #b13535;
  --clr-danger-a10: #d06262;
  --clr-danger-a20: #e29d9d;

  /** Info colors */
  --clr-info-a0: #1e56a3;
  --clr-info-a10: #347ada;
  --clr-info-a20: #74a4e6;


  --clr-text: var(--clr-dark-a0);
 
}

body[data-theme='dark'] {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #39678e;
  --clr-primary-a10: #51779a;
  --clr-primary-a20: #6787a6;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #171a1d;
  --clr-surface-tonal-a10: #2c2f32;
  --clr-surface-tonal-a20: #434548;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;


  --clr-text: var(--clr-light-a0);
}
@media (prefers-color-scheme: dark) {
  body {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #39678e;
    --clr-primary-a10: #51779a;
    --clr-primary-a20: #6787a6;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #171a1d;
    --clr-surface-tonal-a10: #2c2f32;
    --clr-surface-tonal-a20: #434548;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;


    --clr-text: var(--clr-light-a0);
  }
}
